@import "bootstrap";

/* Universal */
body {
	margin-top: 65px;
}

/* Header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}


/* Results */
.results {
	.company-name {
		font-size: 1.1em;
	}
	.ticker {
		font-size: .6em;
	}
	.stat {
		font-size: .7em;
	}
}

.center {
	text-align: center;
}
.no-space {
	padding: 0;
	margin: 0;
}
.green {
	color: #0a0;
}
.red {
	color: #f00;
}